h2 {
	font-family: Verdana;
}

form {
	display: inline-block;
}

#button {
	display: inline-block;
	height: 20px;
	width: 70px;
	background-color: orange;
	font-family: Verdana;
	color #000000;
	border-radius: 5px;
	text-align: center;
	margin-top: 2px;
}

.list {
	font-family: garamond;
	color: #cc0000;	
}
